
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Account/service.js"></script>
<script src="~/Scripts/Account/viewModel.js"></script>
<script src="~/Scripts/Account/start.js"></script>
<link href="~/Content/Account/main.css" rel="stylesheet" />

<div>
    <table>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td>
                <table id="grid"></table>
            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
<div data-bind='simpleGrid: gridViewModel'> </div>

