
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!-- start banner -->
<div class="banner-about">
    <div class="title-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-12">
                    <h3 class="wow fadeInLeftBig" data-wow-duration="1.5s">We are delighted to tell you... <br> ...the stories about</h3>
                </div>

                <div class="col-sm-6 col-12">
                    <h1 class="wow fadeInRightBig" data-wow-duration="1.5s"> VAVA BBQ</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- THOUGHT -->

<div class="container-fluid thoughtabout">
    <div class="container">

        <div class="thought-div row">
            <div class="col-md-8 padding-0">
                <img src="~/Imagesfiles/askjdfkj.jpg" class="img-fluid">
            </div>

            <div class="col-md-4 padding-0 thought-text">
                <p>
                    <span>"</span>Seriously delicious BBQ worthy of the Texas seal of approval, check; supports the Veterans, double check!! <br><br>

                    I had a craving for BBQ which is random for me because I don't typically care for BBQ. I've heard amazing things about Vava BBQ and decided to grab takeout for two. I ordered the brisket with extra bark, a small side of potato salad and a small side of mac n cheese. Food was quickly ready and kudos to the guys who recommended several sauces which they hooked me up with.<span>"</span> <br><br>
                </p>

                <h5> <span>John Doe</span> <br> Manager of Vava BBQ </h5>
            </div>
        </div>


        <div class="thought-div-left row">
            <div class="col-md-8 padding-0 order-sm-12">
                <img src="~/Imagesfiles/slide5.jpg" class="img-fluid">
            </div>

            <div class="col-md-4 padding-0 order-sm-1 thought-text-left">
                <p>
                    <span>"</span>Seriously delicious BBQ worthy of the Texas seal of approval, check; supports the Veterans, double check!! <br><br>

                    I had a craving for BBQ which is random for me because I don't typically care for BBQ. I've heard amazing things about Vava BBQ and decided to grab takeout for two.<span>"</span>
                </p>

                <h5> <span>John Doe</span> <br> Manager of Vava BBQ </h5>
            </div>
        </div>

        <div class="thought-div row">
            <div class="col-md-8 padding-0 order-sm-1">
                <img src="~/Imagesfiles/26160530861_af114f25a7_b.jpg" class="img-fluid">
            </div>

            <div class="col-md-4 padding-0 order-sm-12 thought-text">
                <p>
                    <span>“</span>Seriously delicious BBQ worthy of the Texas seal of approval, check; supports the Veterans, double check!! <br><br>

                    I had a craving for BBQ which is random for me because I don't typically care for BBQ. I've heard amazing things about Vava BBQ and decided to grab takeout for two. I ordered the brisket with extra bark, a small side of potato salad and a small side of mac n cheese.<span>”</span> <br>
                </p>

                <h5> <span>John Doe</span> <br> Manager of Vava BBQ </h5>
            </div>
        </div>
    </div>
</div>
</div>
<!-- end THOUGHT -->

