
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!-- start banner -->
<div class="banner-news">
    <div class="title-news">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1> Contact to us </h1>
                    <p> Let us know what you think! </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- start contact -->
<div class="contactvava">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 contact-left wow fadeInLeft" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <div class="thought-div-left">
                    <p>
                        <span>"</span>
                        To be an outstanding restaurent with the best services, we truly want to recieve feedbacks from customer. Please kindly contact to us here
                        <span>"</span>
                    </p>

                    <!-- <h5> <span>-VAVA BBQ-</span> </h5> -->
                    <img src="~/Imagesfiles/favi1vava.png" class="img-fluid" height="100px" width="200px">
                    <div>
                        <i class="fa fa-map-marker"> <b>Số 66 Ô Chợ Dừa mới, Đống Đa, Hà Nội</b> </i><br>
                        <i class="fa fa-clock-o"> <b> 11:00 AM - 3:00 PM | 5:00 PM - 10:30 PM </b> </i><br>
                        <i class="fa fa-phone"> <b> 0243 2323 222 | 0984 001 670 </b></i><br>
                        <i class="fa fa-envelope"> <b>contact@vavabbq.vn</b></i><br>
                    </div>
                </div>
            </div>

            <div class="col-sm-7 contact-right wow fadeInRight" data-wow-duration="1.5s" data-wow-delay="0.1s">
                <form>
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputName" placeholder="Your full name">
                        </div>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Your phone number ">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="inputEmail" placeholder="Your Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="inputReason" placeholder="Why do you contact to us">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12">
                            <textarea class="form-control" id="inputText" rows="3" placeholder="Your message"></textarea>
                        </div>
                    </div>

                    <div class="button-center">
                        <button> CONFIRM </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end contact -->

