
@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

	<!-- start banner -->
<div class="banner-menu">
    <div class="title-menubbq">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="wow fadeInDownBig" data-wow-duration="1.5s">MENU</h1>
                    <h3 class="wow fadeInUpBig" data-wow-duration="1.5s"> Best delicious Korean cuisine </h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- start menu-vavabbq -->
<div class="menuvava">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="menu-kdeli">
                <div class="col-12">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="col-3 nav-item text-center">
                            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#buffet" role="tab" aria-controls="buffet" aria-expanded="true"><img src="~/Imagesfiles/buffet-menu.jpg"> <h4>ALL FOOD </h4></a>
                        </li>
                        <li class="col-3 nav-item text-center">
                            <a class="nav-link" id="pills-combo-tab" data-toggle="pill" href="#combo" role="tab" aria-controls="combo" aria-expanded="true"><img src="~/Imagesfiles/combo-menu.jpg"> <h4>COMBO</h4></a>
                        </li>
                        <li class="col-3 nav-item text-center">
                            <a class="nav-link" id="pills-dessert-tab" data-toggle="pill" href="#dessert" role="tab" aria-controls="dessert" aria-expanded="true"><img src="~/Imagesfiles/dessert-menu.jpg"> <h4>DESSERT</h4></a>
                        </li>
                        <li class="col-3 nav-item text-center">
                            <a class="nav-link" id="pills-beverage-tab" data-toggle="pill" href="#beverage" role="tab" aria-controls="beverage" aria-expanded="true"><img src="~/Imagesfiles/beverage-menu.jpg"> <h4>BEVERAGE</h4></a>
                        </li>

                    </ul>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="buffet" role="tabpanel" aria-labelledby="pills-home-tab">
                            <!--start buffet-->
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_18.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">JADOL BAK-I</h4>
                                            <p class="card-text">Gầu bò là phần cơ hoạt động chính của thịt bò nguyên chất</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_19.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">GALBI SAL</h4>
                                            <p class="card-text">Dẻ sườn là phần thịt được lọc ra từ xương sườn bò, tạo nên món Galbi Sal tuyệt hảo</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_20.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">SALCHISAL</h4>
                                            <p class="card-text">Thịt bẹ vai là phần thịt nằm ở vị trí trước của phần sườn, khi ăn sẽ có cảm giác vừa mềm vừa thơm.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_21.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">WOOSAMGYUP</h4>
                                            <p class="card-text">Là phần dai và đậm đà nhất của thịt bò. Được sôt nước galbi đậm đà</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_24.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">SAENG GALBI</h4>
                                            <p class="card-text">Các miếng sườn bò tươi nguyên mùi vị, mềm, tan ngay trong miệng.</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_23.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">ANCHANGSAL</h4>
                                            <p class="card-text">Phần thịt được pha lọc từ phần thịt bụng của con bò, thịt ngon và thơm giòn.</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_25.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">JIN GALBI</h4>
                                            <p class="card-text">Các miếng thịt bò mềm và chưa tẩm gia vị rất đậm đà và vừa miệng</p>

                                        </div>
                                    </div>

                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_26.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">YANGNYEOM GALBI</h4>
                                            <p class="card-text">Các miếng sườn bò thượng hạng rất mềm và được tẩm ướp từ tỏi và ớt.</p>

                                        </div>
                                    </div>

                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_27.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">SOGUM MOKSAL GUI</h4>
                                            <p class="card-text">Thịt lợn phần ngon nhất là phần giữa cổ và vai tức</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_28.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">JADOL BAK-IO</h4>
                                            <p class="card-text">Phần thịt được pha lọc từ phần thịt bụng của con bò, thịt ngon và thơm giòn.</p>

                                        </div>
                                    </div>

                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_29.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">SALSICHAL</h4>
                                            <p class="card-text">Các miếng sườn bò thượng hạng rất mềm và được tẩm ướp từ tỏi và ớt.</p>

                                        </div>
                                    </div>

                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_30.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">GIN JALBI</h4>
                                            <p class="card-text">Phần thịt được pha lọc từ phần thịt bụng của con bò, thịt ngon và thơm giòn.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_31.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">WANG GALBITANG</h4>
                                            <p class="card-text">Với nguyên liệu chính là sườn bò được hầm nhừ, ăn cùng với miến Hàn Quốc dẻo dai</p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_32.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">HAEMUL SUNDUBU JJIGAE</h4>
                                            <p class="card-text">Thành phần chính là đậu phụ non hầm với thịt...</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_33.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">KIMCHI JJIGAE</h4>
                                            <p class="card-text">Lẩu Kimchi phổ biến ở Hàn Quốc với vị cay chua ngọt nấu từ...</p>

                                        </div>
                                    </div>
                                </div>

                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_21.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">WOOSAMGYUP</h4>
                                            <p class="card-text">Là phần dai và đậm đà nhất của thịt bò. Được sôt nước galbi đậm đà</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_24.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">SAENG GALBI</h4>
                                            <p class="card-text">Các miếng sườn bò tươi nguyên mùi vị, mềm, tan ngay trong miệng.</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/menu_23.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">ANCHANGSAL</h4>
                                            <p class="card-text">Phần thịt được pha lọc từ phần thịt bụng của con bò, thịt ngon và thơm giòn.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end buffet-->

                        <div class="tab-pane fade" id="combo" role="tabpanel" aria-labelledby="pills-combo-tab">
                            <!--start combo-->
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/buffet.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">COMBO 799k</h4>
                                            <p class="card-text">
                                                <b>This is for 2-3 people:</b> <br>
                                                1. 300gr GALBI SAL <br>
                                                2. 100gr SALCHISAL <br>
                                                3. 100gr WOOSAMGYUP<br>
                                                4. 1 hot pot WANG GALBITANG
                                            </p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/askjdfkj.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">COMBO 1269k </h4>
                                            <p class="card-text">
                                                <b>This is for 3-4 people:</b><br>
                                                1. 300gr GALBI SAL <br>
                                                2. 100gr SALCHISAL <br>
                                                3. 100gr WOOSAMGYUP<br>
                                                4. 200gr SOGUM MOKSAL GUI <br>
                                                5. 1 hot pot WANG GALBITANG
                                            </p>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/YY3A2839-1024x683.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">COMBO 1469k</h4>
                                            <p class="card-text">
                                                <b>This is for 4-5 people:</b><br>
                                                1. 300gr GALBI SAL <br>
                                                2. 100gr SALCHISAL <br>
                                                3. 100gr WOOSAMGYUP<br>
                                                4. 200gr SOGUM MOKSAL GUI <br>
                                                5. 100gr SALCHISAL <br>
                                                6. 1 hot pot WANG GALBITANG
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end combo-->

                        <div class="tab-pane fade" id="dessert" role="tabpanel" aria-labelledby="pills-dessert-tab">
                            <!--start dessert-->
                            <div class="card-deck-wrapper">
                                <div class="card-deck-wrapper">
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_2.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Spicy tokbokki</h4>
                                                <p class="card-text">Với nguyên liệu chính là sườn bò được hầm nhừ, ăn cùng với miến Hàn Quốc dẻo dai</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_6.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Traditional tokbokki</h4>
                                                <p class="card-text">Thành phần chính là đậu phụ non hầm với thịt...</p>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_3.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Sea food "Banh xeo"</h4>
                                                <p class="card-text">Lẩu Kimchi phổ biến ở Hàn Quốc với vị cay chua ngọt nấu từ...</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card-deck-wrapper">
                                    <div class="card-deck">
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_1.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Cold Noodle</h4>
                                                <p class="card-text">Với nguyên liệu chính là sườn bò được hầm nhừ, ăn cùng với miến Hàn Quốc dẻo dai</p>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_13.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Fruit Salad</h4>
                                                <p class="card-text">Thành phần chính là đậu phụ non hầm với thịt...</p>

                                            </div>
                                        </div>
                                        <div class="card">
                                            <img class="card-img-top" src="~/Imagesfiles/menu_7.jpg" alt="menu">
                                            <div class="card-block">
                                                <h4 class="card-title">Fried Cuttle-fish</h4>
                                                <p class="card-text">Lẩu Kimchi phổ biến ở Hàn Quốc với vị cay chua ngọt nấu từ...</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end dessert-->

                        <div class="tab-pane fade" id="beverage" role="tabpanel" aria-labelledby="pills-beverage-tab">
                            <!--start beverage-->
                            <div class="card-deck-wrapper">
                                <div class="card-deck">
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/smoothies-featured-image.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">Smoothie</h4>
                                            <p class="card-text"> Different smoothies from orange, straberry, blackberry, apple, pineapple,...</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/992103158.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">Rice Liquor</h4>
                                            <p class="card-text">This is the traditional liqour of Korea.</p>

                                        </div>
                                    </div>
                                    <div class="card">
                                        <img class="card-img-top" src="~/Imagesfiles/tonight-4.jpg" alt="menu">
                                        <div class="card-block">
                                            <h4 class="card-title">Soju</h4>
                                            <p class="card-text">This is the traditional liqour of Korea.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end beverage-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end menu-vavabbq -->

