
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<!-- start banner -->
<div class="banner-news">
    <div class="title-news">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1> LASTEST NEWS </h1>
                    <p> Get update the latest news of Vava BBQ to enjoy the best services. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end banner -->
<!-- start news -->
<div class="news">
    <div class="container">
        <div class="row">
            <div class="card-columns">
                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/banner-web1a.jpg" alt="shocking price buffet">
                        <div class="card-block">
                            <h4 class="card-title text-center">Shocking price buffet </h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </a>

                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/buffet-gia-shock-1500x1000-1.png" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title text-center">Buy 3 Get 1 Free</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 30 mins ago</small></p>
                        </div>
                    </div>
                </a>

                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/thought11.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title text-center">Discount 10% for check-in</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 22/9/2017</small></p>
                        </div>
                    </div>
                </a>

                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/Buffet-Nuong-Lau-chuan-3-NH-Geon-Bae-Korean-BBQ.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title text-center">VAVA BBQ - Grand Opening</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3/9/2017</small></p>
                        </div>
                    </div>
                </a>

                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/dai-tiec-hoang-gia-1500x1000.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title text-center">Royal meal week</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 15/8/2017</small></p>
                        </div>
                    </div>
                </a>

                <a href="/Home/NewsDetail">
                    <div class="card">
                        <img class="card-img-top" src="~/Imagesfiles/menu1.jpg" alt="Card image cap">
                        <div class="card-block">
                            <h4 class="card-title text-center">New dishes</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 8/7/2017</small></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- end news -->
