
@{
    ViewBag.Title = "NewsDetail";
    Layout = "~/Views/Shared/_FrontEndLayout.cshtml";
}

<div class="newsdetail">
    <div class="container">
        <div class="row newsdetail_background">
            <div class="col-sm-8">
                <div class="newsdetail_title">
                    <h1> VAVA BBQ - Grand Opening </h1>
                    <p class="card-text"><small class="text-muted">Last updated 15/8/2017</small></p>
                </div>

                <p>
                    After 2 months under construction, Vava BBQ - Korean Food Restaurent has been officially opening at 72 Le Duan street, Hoan Kiem district, Ha Noi. This is our passion and dream to bring the best Korean cuisines to come to town. From now on, tasting Korean food is easier than ever.
                <p>
                    <img src="~/Imagesfiles/DSCF0945.jpg" class="img-fluid">
                <p> With perfect spot on Le Duan street - downtown of Hanoi, we believe that our restaurent will serve thousand Korean food lovers. Vava BBQ bring not only good food but also the service, decor, and atmosphere so that you can have the most comfortable time with friends and family <p>
                    <img src="~/Imagesfiles/DSCF0971.jpg" class="img-fluid">
                    <br><br>
                    <img src="~/Imagesfiles/slide_2.png" class="img-fluid">
                <p> In Vava BBQ, we have diversified food from pork to sause and panchan. We want our customers to have good experiences. All the ingredients are really fresh and check carefully each day.</p>
                <img src="~/Imagesfiles/image.jpg" class="img-fluid">
                <br><br>


                <p>
                    <b> VAVA BBQ Restaurent </b><br>
                    72 Le Duan street, Hoan Kiem district, Ha Noi <br>
                    Hotline: <br>
                    0243.2323.222 <br>
                    0984.001.670
                </p>

                <hr>

                <h3> LATEST NEWS </h3>
                <ul>
                    <li> <a href="">Royal meal week (Aug 10th 2017) </a></li>
                    <li> <a href="">Shocking price (Aug 5th 2017) </a></li>
                    <li> <a href="">Buy 3 get 1 free (Jul 1st 2017) </a></li>
                </ul>
            </div>
            <div class="col-sm-4 newsdetail_right">
                <a href="">
                    <img src="~/Imagesfiles/banner-web1a.jpg" class="img-fluid">
                    <p> Shocking price buffet </p>
                </a>
                <a href="">
                    <img src="~/Imagesfiles/askjdfkj.jpg" class="img-fluid">
                    <p>New food</p>
                </a>
                <a href="">
                    <img src="~/Imagesfiles/banner-web-3b.jpg" class="img-fluid">
                    <p>Buy 3 get 1 free</p>
                </a>
                <a href="">
                    <img src="~/Imagesfiles/Italian_Pork_Kabobs_with_Summer_Vegetables_HR.jpg" class="img-fluid">
                    <p>Grand Opening</p>
                </a>

                <hr>

                <h4 class="text-center"> FRESH FOOD, HAPPY PEOPLE </h4>
                <p> Making a delisious food is our ultimate passion. We are full of happiness serving our stunning customer... <p>
                    <h4 class="text-center"> VAVA BBQ RESTAURENT </h4>
                <p>We feel happy when recieve much of love from customers!</p>
                <div class="row newdetails_time">
                    <div class="col-sm-6 ">
                        <p class="text-center"> Opening hour </p>
                        <b>
                            11:00 AM <br>
                            3:00 PM
                        </b>
                    </div>
                    <div class="col-sm-6 newsdetails_time_right">
                        <p class="text-center"> Closing hour </p>
                        <b>
                            11:00 AM <br>
                            3:00 PM
                        </b>
                    </div>
                </div>
                <div class="button-center">
                    <a href="/Home/Menu">CHECK MENU</a>
                </div>
            </div>
        </div>
    </div>
</div>

