.divCover{
    min-width: 1200px;
    margin-left: 30px;
}
.tblCover{
    margin-top: 120px;
}
.tblCover td{
    vertical-align: top;
}
.tdButton{
    padding-bottom: 20px;
}
.leftSide{
    padding-left: 20px;
    border: 1px solid gray;
    width: 600px;
    background-color: #eefafb
}
.leftSide table td{
    padding: 5px 10px;
}