@using ISD.Areas.AccountManagement.Models;
@{
    ViewBag.Title = "Product management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/Product/service.js"></script>
<script src="~/Scripts/Product/viewModel.js"></script>
<script src="~/Scripts/Product/start.js"></script>
<link href="~/Content/Product/main.css" rel="stylesheet" />
@{ Admins admin = (Admins)Session["Admin"]; }
<!--new content-->
<div class="divCover">
    <table class="tblCover">
        
        <tr>
            <td>
                <table id="grid"></table>
            </td>
            <td class="leftSide">
               <table >
                   <tr>
                       <td colspan="2" class="tdButton">
                           <button type="button" class="btn btn-default" data-bind="click: $root.createProduct">Create</button>
                           <button type="button" class="btn btn-primary" data-bind="click: $root.registerProduct">Register</button>
                           <button type="button" class="btn btn-danger" data-bind="click: $root.removeProduct, enable: $root.canRemove">Remove</button>
                       </td>
                   </tr>
                   <tr>
                       <td>Category</td>
                       <td><select class="form-control" data-bind="options:$root.lstCategories, optionsText: 'name', optionsValue: 'categoryId', value: $root.product().categoryId"></select></td>
                   </tr>
                   <tr>
                       <td>Name</td>
                       <td><input type="text" data-bind="value: $root.product().name" maxlength="100" class="form-control" autofocus/></td>
                   </tr>
                   <tr>
                       <td>In price</td>
                       <td><input type="number" data-bind="value:  $root.product().inPrice" min="0" max="10000000" class="form-control"/></td>
                   </tr>
                   <tr>
                       <td>Out Price</td>
                       <td><input type="number" data-bind="value:  $root.product().outPrice" min="0" max="10000000" class="form-control" /></td>
                   </tr>
                   <tr>
                       <td>Quantity</td>
                       <td><input type="number" data-bind="value:  $root.product().status().quantity" min="0" max="1000" class="form-control"/></td>
                   </tr>
                   <tr>
                       <td>Description</td>
                       <td><textarea maxlength="500" data-bind="value:  $root.product().description" class="form-control description"></textarea></td>
                   </tr>
                   <tr>
                       <td>Image</td>
                       <td style="height: 330px;width: 465px;">
                           <table data-bind="visible: false">
                               <tr>
                                   <td colspan="2">
                                       <button type="button" class="btn btn-default" data-bind="click: $root.createImage">Create</button>
                                       <button type="button" class="btn btn-primary" data-bind="click: $root.registerImage">Register</button>
                                       <button type="button" class="btn btn-danger" data-bind="click: $root.removeImage, enable: $root.image().canRemove">Remove</button>
                                   </td>
                               </tr>                               
                               <tr>
                                   <td class="selectImg">
                                       <table id="imageGrid"></table>
                                   </td>
                                   <td>
                                       <table data-bind="with: $root.image()">
                                           <tr>
                                               <td>Name</td>
                                               <td><input type="text" maxlength="100" data-bind="value: name"  class="form-control"/></td>
                                           </tr>
                                           <tr>
                                               <td>Image</td>
                                               <td>
                                                   <img width="35" height="35" data-bind="attr:{src: $root.image().link}"/>
                                                   <button type="button" id="getImage">Get image</button>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>Priority</td>
                                               <td><input type="number" data-bind="value: priority" min="1" max="10" class="form-control"/></td>
                                           </tr>
                                       </table>
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>
               </table>
            </td>
        </tr>
    </table>
</div>


