@using ISD.Areas.AccountManagement.Models;
@{
    ViewBag.Title = "Product management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Scripts/Product/service.js"></script>
<script src="~/Scripts/Product/viewModel.js"></script>
<script src="~/Scripts/Product/start.js"></script>
<link href="~/Content/Product/main.css" rel="stylesheet" />
@{ Admins admin = (Admins)Session["Admin"]; }
<!--new content-->
<div class="divCover">
    
    <table class="tblCover">   
        <tr>
            <td colspan="2">
                <a href="Product/PrintListByExcel" class="btn btn-default">Print product infor list</a>
            </td>
        </tr>
        <tr>
            <td>
                <table id="grid"></table>
            </td>
            <td class="leftSide">
               <table>
                   <tr>
                       <td colspan="2" class="tdButton">
                           <button type="button" class="btn btn-default" data-bind="click: $root.createProduct">Create</button>
                           <button type="button" class="btn btn-primary" data-bind="click: $root.registerProduct">Register</button>
                           <button type="button" class="btn btn-danger" data-bind="click: $root.removeProduct, enable: $root.canRemove">Remove</button>
                       </td>
                   </tr>
                   <tr>
                       <td class="required">Category</td>
                       <td><select class="form-control" data-bind="enable: $root.isCreate, options:$root.lstCategories, optionsText: 'name', optionsValue: 'categoryId', value: $root.product().categoryId"></select></td>
                   </tr>
                   <tr>
                       <td class="required">Name</td>
                       <td><input type="text" data-bind="value: $root.product().name" maxlength="100" class="form-control" autofocus/></td>
                   </tr>
                   <tr>
                       <td class="required">In price</td>
                       <td><input type="number" data-bind="value:  $root.product().inPrice" min="0" max="10000000" class="form-control"/></td>
                   </tr>
                   <tr>
                       <td class="required">Out Price</td>
                       <td><input type="number" data-bind="value:  $root.product().outPrice" min="0" max="10000000" class="form-control" /></td>
                   </tr>
                   <tr>
                       <td class="required">Quantity</td>
                       <td><input type="number" data-bind="value:  $root.product().status().quantity" min="0" max="1000" class="form-control"/></td>
                   </tr>
                   <tr>
                       <td>Description</td>
                       <td>     
                           <textarea maxlength="500" data-bind="value:  $root.product().description" class="form-control description"></textarea>
                           <input type="text" value="@admin.adminId.ToString()" data-bind="visible: false" id="modifiedBy" />
                       </td>
                   </tr>
                   <tr>
                       <td>Image</td>
                       <td style="height: 285px;width: 465px;">
                          
                           <table>
                               <tr>
                                   <td colspan="2">
                                       <button type="button" class="btn btn-default" data-bind="click: $root.createImage, enable: $root.imageControl">Create</button>
                                       <button type="button" class="btn btn-primary" data-bind="click: $root.registerImage, enable: $root.imageControl">Register</button>
                                       <button type="button" class="btn btn-danger" data-bind="click: $root.removeImage, enable: ($root.image().canRemove() && $root.imageControl)">Remove</button>
                                   </td>
                               </tr>                               
                               <tr>
                                   <td class="selectImg">
                                       <table id="imageGrid"></table>
                                   </td>
                                   <td>
                                       <table data-bind="with: $root.image()">
                                           <tr>
                                               <td>Name</td>
                                               <td><input type="text" maxlength="100" data-bind="value: name, enable: $root.imageControl"  class="form-control"/></td>
                                           </tr>
                                           <tr>
                                               <td>Image</td>
                                               <td>
                                                   <img width="35" height="35" data-bind="attr:{src: $root.image().link}"/>
                                                   <button type="button" id="getImage" data-bind="enable: $root.imageControl">Get image</button>
                                               </td>
                                           </tr>
                                           
                                       </table>
                                   </td>
                               </tr>
                           </table>
                       </td>
                   </tr>
               </table>
            </td>
        </tr>
    </table>
</div>


