
@{
    ViewBag.Title = "Login";
    Layout = "";
}
<link href="~/Content/Login.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/blockUI.js"></script>
<script src="~/Scripts/toastr.min.js"></script>
<link href="~/Content/toastr.min.css" rel="stylesheet" />
<script src="~/Scripts/common.js"></script>
<script src="~/Scripts/Login/service.js"></script>
<script src="~/Scripts/Login/screenModel.js"></script>
<script src="~/Scripts/Login/start.js"></script>
<div id="cover">
    <div class="login-page">
        <div class="form"> 
            <form class="login-form">
                <input type="text" data-bind="value: userName" placeholder="username"  autofocus/>
                <input type="password" data-bind="value: password" placeholder="password" />
                <button type="button" data-bind="click: login">login</button>
            </form>
        </div>
    </div>
</div>



