
@{
    ViewBag.Title = "Log management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/Log/service.js"></script>
<script src="~/Scripts/Log/viewModel.js"></script>
<script src="~/Scripts/Log/start.js"></script>
<div class="divCover">
    <table class="tblCover">
        <tr>
            <td class="tdButton">
               <a class="btn btn-default" @*data-bind="click: $root.print"*@ href="Log/print">
                   <i class="fa fa-file-excel-o"></i>
                   Print excel
               </a>
            </td>
        </tr>
        <tr>
            <td>
                <table id="grid"></table>
            </td>
        </tr>
    </table>
</div>
