USE [master]
GO
/****** Object:  Database [ISDProject]    Script Date: 10/11/2017 5:36:10 PM ******/
CREATE DATABASE [ISDProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ISDProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ISDProject.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ISDProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\ISDProject_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ISDProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ISDProject]
GO
/****** Object:  Table [dbo].[ADMINS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ADMINS](
	[ADMINID] [int] IDENTITY(1,1) NOT NULL,
	[ACCOUNT] [varchar](20) NOT NULL,
	[PASSWORD] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[BIRTHDAY] [date] NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
	[ROLE] [int] NOT NULL,
	[CREATEDBY] [int] NULL,
	[CREATEDDATE] [date] NULL,
	[MODIFIEDBY] [int] NULL,
	[MODIFIEDDATE] [date] NULL,
 CONSTRAINT [PK__ADMINS__509F859CE30EC10F] PRIMARY KEY CLUSTERED 
(
	[ADMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BILLDETAILS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLDETAILS](
	[BILLDETAILID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [int] NULL,
	[BILLID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLDETAILID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILLS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILLS](
	[BILLID] [int] IDENTITY(1,1) NOT NULL,
	[CUSTOMERID] [int] NULL,
	[STATUS] [int] NULL,
	[CREATEDBY] [int] NOT NULL,
	[CREATEDDATE] [date] NOT NULL,
	[MODIFIEDBY] [int] NULL,
	[MODIFIEDDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[BILLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORIES]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIES](
	[CATEGORYID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATEDBY] [int] NOT NULL,
	[CREATEDDATE] [date] NOT NULL,
	[MODIFIEDBY] [int] NULL,
	[MODIFIEDDATE] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CUSTOMERS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CUSTOMERS](
	[CUSTOMERID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[BIRTHDAY] [date] NOT NULL,
	[PHONE] [varchar](20) NOT NULL,
	[MAIL] [varchar](100) NOT NULL,
	[ADDRESS] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CUSTOMERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGES]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMAGES](
	[IMAGEID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [int] NOT NULL,
	[NAME] [nvarchar](100) NULL,
	[LINK] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IMAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOGS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGS](
	[LOGID] [int] IDENTITY(1,1) NOT NULL,
	[TYPE] [int] NOT NULL,
	[CONTENT] [nvarchar](500) NOT NULL,
	[CREATEDBY] [int] NOT NULL,
	[CREATEDDATE] [datetime] NOT NULL,
 CONSTRAINT [PK__LOGS__E39E279EC5A4623A] PRIMARY KEY CLUSTERED 
(
	[LOGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTS](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYID] [int] NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[INPRICE] [float] NOT NULL,
	[OUTPRICE] [float] NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[CREATEDBY] [int] NOT NULL,
	[CREATEDDATE] [date] NOT NULL,
	[MODIFIEDBY] [int] NULL,
	[MODIFIEDDATE] [date] NULL,
 CONSTRAINT [PK__PRODUCTS__34980AA2243D1726] PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTSTATUS]    Script Date: 10/11/2017 5:36:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTSTATUS](
	[PRODUCTID] [int] NOT NULL,
	[QUANTITY] [int] NOT NULL,
	[NUMOFSOLD] [int] NULL,
	[NUMOFVIEW] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ADMINS] ON 

INSERT [dbo].[ADMINS] ([ADMINID], [ACCOUNT], [PASSWORD], [NAME], [BIRTHDAY], [PHONE], [MAIL], [ADDRESS], [ROLE], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (1, N'superadmin', N'123456789', N'John Son', CAST(N'1992-01-01' AS Date), N'0161241254', N'abc@gmail.com', N'Hanoi', 1, NULL, NULL, NULL, NULL)
INSERT [dbo].[ADMINS] ([ADMINID], [ACCOUNT], [PASSWORD], [NAME], [BIRTHDAY], [PHONE], [MAIL], [ADDRESS], [ROLE], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (2, N'admin', N'123456789', N'Tim Cool', CAST(N'1993-02-10' AS Date), N'0975245632', N'cdf@gmial.com', N'New York', 2, NULL, NULL, 1, CAST(N'2017-09-28' AS Date))
SET IDENTITY_INSERT [dbo].[ADMINS] OFF
SET IDENTITY_INSERT [dbo].[CATEGORIES] ON 

INSERT [dbo].[CATEGORIES] ([CATEGORYID], [NAME], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (1, N'categoryA', N'abcda', 1, CAST(N'2017-09-29' AS Date), 2, CAST(N'2017-10-11' AS Date))
INSERT [dbo].[CATEGORIES] ([CATEGORYID], [NAME], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (3, N'categoryB', N'', 2, CAST(N'2017-10-02' AS Date), NULL, NULL)
INSERT [dbo].[CATEGORIES] ([CATEGORYID], [NAME], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (4, N'categoryC', N'', 2, CAST(N'2017-10-02' AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[CATEGORIES] OFF
SET IDENTITY_INSERT [dbo].[LOGS] ON 

INSERT [dbo].[LOGS] ([LOGID], [TYPE], [CONTENT], [CREATEDBY], [CREATEDDATE]) VALUES (1, 2, N'CREATE - executed by dafa - in 9/29/2017 10:44:12 AM', 0, CAST(N'2017-09-29 00:00:00.000' AS DateTime))
INSERT [dbo].[LOGS] ([LOGID], [TYPE], [CONTENT], [CREATEDBY], [CREATEDDATE]) VALUES (2, 4, N'REMOVE - executed by dafa - in 9/29/2017 10:44:18 AM', 7, CAST(N'2017-09-29 00:00:00.000' AS DateTime))
INSERT [dbo].[LOGS] ([LOGID], [TYPE], [CONTENT], [CREATEDBY], [CREATEDDATE]) VALUES (3, 2, N'CREATE asfda - executed by superadmin - in 9/29/2017 11:01:40 AM', 0, CAST(N'2017-09-29 00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[LOGS] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTS] ON 

INSERT [dbo].[PRODUCTS] ([PRODUCTID], [CATEGORYID], [NAME], [INPRICE], [OUTPRICE], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (9, 1, N'new1', 2, 6, N'', 2, CAST(N'2017-10-11' AS Date), 2, CAST(N'2017-10-11' AS Date))
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [CATEGORYID], [NAME], [INPRICE], [OUTPRICE], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (16, 1, N'new a', 6, 7, N'', 2, CAST(N'2017-10-11' AS Date), NULL, NULL)
INSERT [dbo].[PRODUCTS] ([PRODUCTID], [CATEGORYID], [NAME], [INPRICE], [OUTPRICE], [DESCRIPTION], [CREATEDBY], [CREATEDDATE], [MODIFIEDBY], [MODIFIEDDATE]) VALUES (17, 1, N'a', 5, 6, N'', 2, CAST(N'2017-10-11' AS Date), 2, CAST(N'2017-10-11' AS Date))
SET IDENTITY_INSERT [dbo].[PRODUCTS] OFF
INSERT [dbo].[PRODUCTSTATUS] ([PRODUCTID], [QUANTITY], [NUMOFSOLD], [NUMOFVIEW]) VALUES (9, 8, 0, 0)
INSERT [dbo].[PRODUCTSTATUS] ([PRODUCTID], [QUANTITY], [NUMOFSOLD], [NUMOFVIEW]) VALUES (16, 8, 0, 0)
INSERT [dbo].[PRODUCTSTATUS] ([PRODUCTID], [QUANTITY], [NUMOFSOLD], [NUMOFVIEW]) VALUES (17, 7, 0, 0)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__ADMINS__A7301CB7E68283DA]    Script Date: 10/11/2017 5:36:11 PM ******/
ALTER TABLE [dbo].[ADMINS] ADD  CONSTRAINT [UQ__ADMINS__A7301CB7E68283DA] UNIQUE NONCLUSTERED 
(
	[ACCOUNT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILLDETAILS]  WITH CHECK ADD FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILLS] ([BILLID])
GO
ALTER TABLE [dbo].[BILLDETAILS]  WITH CHECK ADD FOREIGN KEY([BILLID])
REFERENCES [dbo].[BILLS] ([BILLID])
GO
ALTER TABLE [dbo].[BILLDETAILS]  WITH CHECK ADD  CONSTRAINT [FK__BILLDETAI__PRODU__1FCDBCEB] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[BILLDETAILS] CHECK CONSTRAINT [FK__BILLDETAI__PRODU__1FCDBCEB]
GO
ALTER TABLE [dbo].[BILLDETAILS]  WITH CHECK ADD  CONSTRAINT [FK__BILLDETAI__PRODU__36B12243] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[BILLDETAILS] CHECK CONSTRAINT [FK__BILLDETAI__PRODU__36B12243]
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[BILLS]  WITH CHECK ADD FOREIGN KEY([CUSTOMERID])
REFERENCES [dbo].[CUSTOMERS] ([CUSTOMERID])
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTS__CATEGO__21B6055D] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORIES] ([CATEGORYID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK__PRODUCTS__CATEGO__21B6055D]
GO
ALTER TABLE [dbo].[PRODUCTS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTS__CATEGO__38996AB5] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORIES] ([CATEGORYID])
GO
ALTER TABLE [dbo].[PRODUCTS] CHECK CONSTRAINT [FK__PRODUCTS__CATEGO__38996AB5]
GO
ALTER TABLE [dbo].[PRODUCTSTATUS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTST__PRODU__22AA2996] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[PRODUCTSTATUS] CHECK CONSTRAINT [FK__PRODUCTST__PRODU__22AA2996]
GO
ALTER TABLE [dbo].[PRODUCTSTATUS]  WITH CHECK ADD  CONSTRAINT [FK__PRODUCTST__PRODU__398D8EEE] FOREIGN KEY([PRODUCTID])
REFERENCES [dbo].[PRODUCTS] ([PRODUCTID])
GO
ALTER TABLE [dbo].[PRODUCTSTATUS] CHECK CONSTRAINT [FK__PRODUCTST__PRODU__398D8EEE]
GO
USE [master]
GO
